<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="home.css">
    <title>WEATHER</title>   
</head>
<body>
   <div id="div1"> <h1>WEATHER   APP </h1></div>
    <div id="div2">
        <form>
            <input id="in" type="text" placeholder="Search for city">
                <button id="btn">
                    submit
                </button>
        </form>
</div>
    <div id="box">
    </div>
    <h3 id="heading">Developed by Rishabh singh</h3>
<script src="script.js"></script>
</body>
</html>